h1 {
    font-family: sans-serif;
}

p{
    font-weight: 600;
}

body{
    font-size: 16px;
}

#amarelo {
    background-color:gold;
}

#vermelho {
    background-color: red;
}

#marron {
    background-color: saddlebrown;
}